footer {
    background: #333;
    color: #fff;
    padding: 2rem;

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;

        .footer-left {
            p {
                font-weight: bold;
            }
        }

        .footer-right {
            ul.card {
                display: flex;

                li {
                    margin: 0 .5rem;
                    i {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}